<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('./header', {title: global.translator('authenticate.finish.title')}); %>
	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>
		<section class="main-section">
			<h3><%= global.translator('authenticate.finish.masthead') %></h3>
			<p><%= global.translator('authenticate.finish.desc') %></p>
		</section>

		<% include ./footer %>
	</body>
</html>
