<div class="background-div-wrapper">
	<div class="background-div" style="background-color: <%= global.config['background-0'] %>">
	</div>

	<div class="background-div" style="background-color: <%= global.config['background-1'] %>">
	</div>

	<div class="parallax-container">
		<div class="parallax">
			<img src="<%= global.config['parallax'] %>">
		</div>
	</div>
</div>

<script>
	$('.parallax').parallax();
</script>
