<div class="background-div-wrapper">
	<div class="background-div" style="background-color: <%= global.theme['background-0'] %>">

	</div>

	<div class="background-div" style="background-color: <%= global.theme['background-1'] %>">

	</div>
</div>
