<!DOCTYPE html>
<html>
	<head>
		<% include ./header %>
		<script src="./resources/js/jquery.min.js" async></script>
	</head>

	<body>
		<% include ./navigation %>
		<% include ./background %>
		<section class="sector-main">
			
		</section>
		<% include ./footer %>
	</body>
</html>
