<!DOCTYPE html>
<html lang="<%= global.config.lang %>">
	<head prefix="og: http://ogp.me/ns#">
		<%- include('header', {title: global.translator('error.title')}) %>
		<style>
			h3 {
				margin: 0;
				padding: 0;
			}
		</style>

		<script>
			setTimeout(function(){
				location.reload();
			}, 5000);
		</script>
	</head>
	<body>
		<% include ./navigation %>
		<% include ./background %>

		<section class="main-section" style="padding-right: 10px;">
			<h1 style="font-size: 10em; text-align: center">
				<img src="/resources/image/no-battle.svg" width="256px" height="256px">
			</h1>

			<h3 style="text-align: center">
				<%= global.translator('battle.in.progress') %>
			</h3>

			<div class="content-divider-wrapper">
				<hr class="content-divider divide-or">
			</div>

			<h3 style="text-align: center">
				<%= global.translator('battle.not.found') %>
			</h3>
		</section>
		<% include ./footer %>
	</body>
</html>
