<%
	if(typeof nohref === 'undefined'){
		var nohref = false;
	}

	if(typeof type !== 'undefined'){
		bots = bots.filter((v) => {
			return (type.indexOf(v.type) !== -1);
		});
	}
%>

<% bots.forEach((v, k) => { %>
	<% if(!nohref){ %>
		<a href="<%= href.replace('%number%', k) %>" class="bot-view collection-item">
	<% }else{ %>
		<li class="bot-view collection-item">
	<% } %>
		<img src="/resources/image/skins/<%= v.skin %>.svg" style="width: 64px; height: 64px;">
		<div style="display: inline-block">
			<span class="bot-name" style="display: block"><%= v.name %></span>
			<span class="bot-type" style="display: block"><%= global.translator('bot.type', global.server.gamePool[v.type].getReadableName()); %></span>
		</div>
	<% if(!nohref){ %>
		</a>
	<% } %>
<% }); %>
