@font-face {
	font-family: 'Spoqa Han Sans';
	font-weight: 700;
	src:
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Bold/SpoqaHanSans-Bold.eot?#iefix') format('eot'),
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Bold/SpoqaHanSans-Bold.svg') format('svg'),
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Bold/SpoqaHanSans-Bold.ttf') format('truetype'),
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Bold/SpoqaHanSans-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	src:
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Regular/SpoqaHanSans-Regular.eot?#iefix') format('eot'),
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Regular/SpoqaHanSans-Regular.svg') format('svg'),
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Regular/SpoqaHanSans-Regular.ttf') format('truetype'),
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Regular/SpoqaHanSans-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Spoqa Han Sans';
	font-weight: 200;
	src:
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Thin/SpoqaHanSans-Thin.eot?#iefix') format('eot'),
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Thin/SpoqaHanSans-Thin.svg') format('svg'),
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Thin/SpoqaHanSans-Thin.ttf') format('truetype'),
		url('/resources/font/spoqa-han-sans-kr/SpoqaHanSans-Thin/SpoqaHanSans-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Spoqa Han Sans JP';
	font-weight: 700;
	src:
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.eot?#iefix') format('eot'),
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.svg') format('svg'),
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.ttf') format('truetype'),
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Bold/SpoqaHanSansJP-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Spoqa Han Sans JP';
	font-weight: 400;
	src:
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.eot?#iefix') format('eot'),
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.svg') format('svg'),
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.ttf') format('truetype'),
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Regular/SpoqaHanSansJP-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Spoqa Han Sans JP';
	font-weight: 200;
	src:
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.eot?#iefix') format('eot'),
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.svg') format('svg'),
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.ttf') format('truetype'),
		url('/resources/font/spoqa-han-sans-jp/SpoqaHanSansJP-Thin/SpoqaHanSansJP-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Exo 2';
	font-weight: 400;
	src:
		url('/resources/font/exo2/regular/Exo2Regular.eot?#iefix') format('eot'),
		url('/resources/font/exo2/regular/Exo2Regular.ttf') format('truetype'),
		url('/resources/font/exo2/regular/Exo2Regular.woff') format('woff');
}

@font-face {
	font-family: 'Exo 2';
	font-weight: 200;
	src:
		url('/resources/font/exo2/thin/Exo2Thin.eot?#iefix') format('eot'),
		url('/resources/font/exo2/thin/Exo2Thin.ttf') format('truetype'),
		url('/resources/font/exo2/thin/Exo2Thin.woff') format('woff');
}

@font-face {
	font-family: 'NanumCoding';
	font-weight: 400;
	src:
		url('/resources/font/nanum-coding/NanumGothicCoding-Regular.eot?#iefix') format('eot'),
		url('/resources/font/nanum-coding/NanumGothicCoding-Regular.ttf') format('truetype'),
		url('/resources/font/nanum-coding/NanumGothicCoding-Regular.woff') format('woff');
}

* {
	font-family: 'Exo 2', 'Spoqa Han Sans', 'Spoqa Han Sans JP', '나눔바른고딕', '나눔고딕', '맑은 고딕', sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
}

kbd, samp{
	background: #222;
	color: #fff;
	border-radius: 5px;
	border: 5px solid #222;
	font-family: 'NanumCoding', monospace;
}

.main-section {
	max-width: 992px;
	margin: 0 auto;
	padding-left: 10px;
	padding-bottom: 30px;
	z-index: 2;
}

.background-div {
	height: 50vh;
}

.background-div-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.pagination li {
	padding: 0 !important;
}

.pagination li a {
	display: inline-block;
	padding: 0 10px !important;
}

.pagination .disabled a, .pagination .active a {
	cursor: default;
}

.skin-list{
	display: inline-block;
	margin: 3px;
}

.skin-list-wrapper{
	white-space: nowrap;
	overflow-x: hidden;
}

.skin-list-wrapper:hover{
	overflow-x: auto;
}

.loading-image{
	width: 500px;
	margin: 0 auto;
}

.user-icon{
	vertical-align: middle;
	margin-right: 10px;
}

@media (max-width: 992px){
	.left-tri{
		background: transparent !important;
		width: initial !important;
	}

	.left-tri-wrapper:before{
		display: none !important;
	}
}
@media (max-width: 1050px){
	.background-div-wrapper{
		display: none;
	}
}

@media (min-width: 1050px){
	.main-section {
		position: relative;
		float: right;
		top: 10rem;
		width: 992px;
		min-height: 30rem;
		padding-left: 10px;
		margin-right: 20%;
		margin-bottom: 10px;
		box-shadow: 0 0 5px 3px #808080;
	}

	nav {
		position: absolute;
		z-index: 3;
	}
}

@media (min-width: 1050px) and (max-width: 1192px){
	.main-section {
		margin-right: 0;
	}
}
